# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
*.env
*.venv
env/
venv/
ENV/
build/
dist/
*.egg-info/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.coverage
.tox/
.cache/
.ipynb_checkpoints/
*.sqlite3

# C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.vs/
TestResults/
*.nupkg
*.snupkg
*.log
*.pdb
*.mdb
*.opendb
*.VC.db
*.vscode/
_ReSharper*/
*.DotSettings.user

# Docker
**/.dockerignore
docker-compose.override.yml
docker-compose.local.yml
.docker/
docker-compose*.yml
Dockerfile*
*.tar
*.img
*.container